.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: auto;
    width: 100%;
}

.logo-img{
    width: 250px;
    height: 75px;
    margin-top: 8px
}

.btn-premium{
    background-color: #00A2F7;
    width: 156px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

